/symlinks/dirs/.zsh/local/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.devcontainer/*
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
!.devcontainer/copy-devcontainer-files.sh

.DS_Store
.DS_Store?
._*
tignore
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.swp
*~

!.local/**
!.gitkeep
