[user]
	name = Hiroto-K
	email = hiro.yo.yo1610@gmail.com
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = vim
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
  required = true
[alias]
  amend = commit --amend
  branches = branch -a
  difff = diff --name-only
  diffs = diff --cached
  remotes = remote -v
  tags = tag
[http]
	sslVerify = false
