## 自動改行禁止
set nowrap
set matchbrackets "(<[{)>]}"

## 一行ずつスクロール
set smooth
## タブサイズ
set tabsize 4

## nanorcの読み込み
include "/usr/share/nano/*.nanorc"

## Load scopatz/nanorc
include "~/.nano/*.nanorc"
